#container #content img{
    border-radius:2px;
    vertical-align: top;
    display:block;
    margin-left:auto;
    margin-right:auto;
/*     max-width:500px; */
    border: #333 1px solid;
}

#container #content img:hover{
/*
    border: #83c0ff solid 1px;
	box-shadow: 0 0 10px #83C0FF;
*/
}

#image{
    width:500px;
}

#container #content{
    min-width: 500px;
    min-height:300px;
    padding:30px;
}

#container{
    width:900px;
    background-color: #555;
    background: -webkit-gradient(linear, left top, left bottom, from(#444), to(#555));
    background: -moz-linear-gradient(top,  #444,  #555);
    padding:0px;
}

#container #content #image{
    display:inline-block;
}


#info{
    display:inline-block;
    color:#999;
    margin-left:30px;
    vertical-align: top;
    margin-top:10px;
    max-width:400px;
}

#title{
    display:inline-block;
    width:250px;
    vertical-align: top;
}

#title h1{
    color:#999; 
    font-size:large;     
}

#description{
    width:100%;
    margin-top:10px;
}

#info p{
    width:290px;
    margin-left:-10px;
}

#details{
    margin-top:10px;
    font-size:small;
    position:absolute;
    padding-bottom:50px;
    bottom:0;    
}

#details h2{
    color:#999;
    font-size:medium;
}

#container #content #owner{
    display:inline-block;
    width:40px;
    margin-right:10px;
}

#container #content #owner .avatar{
     border-radius:3px;
     border:#333 1px solid;
}

#container #content #owner .avatar:hover{
    border: #83c0ff 1px solid;
    box-shadow: 0 0 2px #83C0FF;
}

#container #content #owner a{
    border: none;
    width:40px;
    height:40px;
}

#container #content #owner:hover{
/*     box-shadow: 0 0 10px #83C0FF; */
}

#container #content #owner img:hover{
/*     border:#83c0ff 1px solid; */
}