body{
    font-family: Helvetica, sans-serif;
    background-color: #ffcf7f;
    background-image: none;
}

#php_error{
    width:90%; 
    margin:30px auto auto auto;
    padding:30px;
    font-size:medium;
    color: #555;    
    background-color:#fff;
    border-radius:10px;
    z-index:11;
/*    position:fixed;

    top:0;
    left:0;
*/

}

strong{
    color:#888;
}

pre{
    font-size:small;
    overflow:hidden;
    text-overflow: ellipsis;
    padding-right:30px;
}

#source{
    width:auto; 
    margin:30px;
    padding:30px;
    font-size:medium;
    color: #555;    
    background-color:#fff;
    border-radius:10px;
    display:none;
}