/* ~~~~~~~~~~ main ~~~~~~~~~~~ */

#main{
    position:relative;
    margin:0px;
    padding:0px;
	min-height:100%;
	width:100%;
	top:0;
	bottom: 0;	
}

/* ~~~~~~~~~ header ~~~~~~~~~~ */

header{
    position:relative;
    background-color:#222;
    border-bottom: 5px solid #666;
}
header h2 {
    font-family: 'Pacifico', cursive;
    font-size:x-large;
    padding-top:0px;
    padding-left:5px;
    display:inline-block;
}

header h2 a{
    -webkit-transition-property: color; 
	-webkit-transition-duration: 0.5s; 
	-webkit-transition-timing-function: linear;

    -moz-transition-property: color;
	-moz-transition-duration: 0.5s; 
	-moz-transition-timing-function: linear;
}

/*
header h2 a{color:#3399cc;}
header h2 a:hover{color:#83c0ff;}
header h2 a:active{color:#336699;}
header h2 a:visited{color:#3399cc;}
*/

header h1{
/*     font-family: 'Pacifico', cursive; */
    font-family: Helvetica,sans-serif;
    font-size:small;
    color:#555;
    padding-top:0px;
    padding-left:5px;
    display:inline-block;     
}

#logo{
    height:40px;
    background:none;
    padding:0;
    border:none;
    box-shadow: none;
    margin:0;
    margin-left:5px;
    vertical-align:top;
    margin-right:-10px;
}

#main-navigation {
	/* border-bottom: 5px solid #666; */
	background-color:#222;
/* 	display:inline-block; */
}
#main-navigation ul {
    overflow: hidden;
    width: 100%;
    list-style: none;
    font-size: small;		
}
#main-navigation li {
    display:inline-block;
}
#main-navigation li a {
    margin: 0 5px 0 0;
    padding: 3px 15px;
    display: block;
    color: #fff;
    text-decoration: none;
    border-top-left-radius:3px; 
    border-top-right-radius:3px;

    -webkit-transition-property: color, background; 
	-webkit-transition-duration: 1s; 
	-webkit-transition-timing-function: ease-in-out, cubic-bezier;

    -moz-transition-property: color, background;
	-moz-transition-duration: 1s; 
	-moz-transition-timing-function: ease-in-out, cubic-bezier;
}
#main-navigation li.current a {
    background: #666;
}
#main-navigation li a:hover {
    background: #555;
    color:#ddd;
}
#main-navigation li:not(.current) a:hover{
    background: #000;
    color:#83c0ff;
    
/*
    padding: 2px 13px;
    margin: 0 6px 0 1px;
    border:#83c0ff solid 1px;
    border-bottom:#83c0ff none 1px;
    box-shadow:0px 0px 3px #83c0ff;
*/
}

#menu{
    margin-left:10px;
    position:absolute;
    top:20px;
    right:0px;
}

#subnav{
    background: -webkit-gradient(linear, left top, left bottom, from(#666), to(#555));
	background: -moz-linear-gradient(top,  #666,  #555);
	border-bottom:#494949 solid 1px;
    height:25px;    
}

#subnav ul{
    margin-left:20px;
}

#subnav li{
    display:inline-block;
    margin:0px 5px;
}

#subnav li a{
    text-shadow: 0px 1px #777;
    color:#444;
    padding:0px 5px;
    font-weight:bold;
/*
    border:#333 solid 1px;
    border-radius:5px;
*/
    

    -webkit-transition-property: color, background; 
	-webkit-transition-duration: 0.5s, 0.5s; 
	-webkit-transition-timing-function: linear, linear;
    
    -moz-transition-property: color, background;
	-moz-transition-duration: 0.5s, 0.5s; 
	-moz-transition-timing-function: linear, linear;

}

#subnav li a:hover{
/*     text-shadow: 0px -1px #333, 0px 1px #888; */
    color:#83c0ff;
    text-shadow: 0px 1px #336699;
}

/* ~~~~~~~~~ layout ~~~~~~~~~~ */

#container {
	width: 840px;
	margin: 20px auto 40px auto;
	padding: 30px;
	overflow: hidden;
    
    position: relative;

    border-radius:5px;
/*     border-color: #222 #666 #666 #444; */
    border-color:#444;
    border-width:1px;
    border-style:solid;
    
    background-color: #555;
    background: -webkit-gradient(linear, left top, left bottom, from(#555), to(#666));
    background: -moz-linear-gradient(top,  #555,  #666);
}
			
/* ~~~~~~~~~ article ~~~~~~~~~~ */

article {
	width: 100%;
/* 	overflow: hidden; */
}

section {
	float: left;
	width: 500px;
}

/* ~~~~~~~~~ aside ~~~~~~~~~~ */

aside {
	float: right;
	width: 310px;
	position:relative;
	text-align:justify;
	color:#aaa;
	background-color:#222;
	opacity: 0.8;
	padding:15px;
	border-radius:5px;
	z-index:10;
}
			
/* ~~~~~~~~~ footer ~~~~~~~~~~ */
			
footer {
    position:relative;
    bottom:0;	
	height:20px;
	width: 100%;
	margin: 0px auto 0px auto;
	font-size: small;
	background-color:#111;
	text-align: right;	
}

footer ul{
    padding-right:10px;
}

#php_error{
    width: 840px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    padding: 20px;
}


/* ~~~~~~~~ UI elements ~~~~~~~~~~*/

.controls{
    height:30px;
    padding:10px;
    
    background-color: #888;
    background: -webkit-gradient(linear, left top, left bottom, from(#888), to(#666));
    background: -moz-linear-gradient(top,  #888,  #666);
}

.controls.dark{
    background-color: #333;
    background: -webkit-gradient(linear, left top, left bottom, from(#333), to(#222));
    background: -moz-linear-gradient(top,  #333,  #222);
}

.lower{border-top:#333 solid 1px;}
.upper{border-bottom:#555 solid 1px;}

.pagination{
    height:25px;
    width:25px;
    vertical-align:middle;
    font-size:x-small;
    font-weight: bold;
    border:#3399cc solid 1px;
    border-radius:3px;
    padding:3px 6px;
    margin:2px;
    
    -webkit-transition-property: color, background; 
	-webkit-transition-duration: 0.5s, 0.5s; 
	-webkit-transition-timing-function: linear, linear;
    
    -moz-transition-property: color, background;
	-moz-transition-duration: 0.5s, 0.5s; 
	-moz-transition-timing-function: linear, linear;
}

.pagination.nav{

    background: -webkit-gradient(linear, left top, left bottom, from(#336699), to(#3399cc));
	background: -moz-linear-gradient(top,  #336699,  #3399cc);
	border:#3399cc solid 1px;
	color:#fff;

/*
    background: -webkit-gradient(linear, left top, left bottom, from(#444), to(#555));
	background: -moz-linear-gradient(top,  #444,  #555);
	border:#666 solid 1px;
	color:#999;
*/
	
	box-shadow:none;        
    height:25px;
    width:25px;
    vertical-align:middle;
    font-size:x-small;
    font-weight: bold;    
    border-radius:3px;
    padding:3px 6px;
    margin:2px;
}

.pagination.selected{
    background:#336699;
	box-shadow:none;
    color:#fff;
    
    height:25px;
    width:25px;
    vertical-align:middle;
    font-size:x-small;
    font-weight: bold;
    border:#3399cc solid 1px;
    border-radius:3px;
    padding:3px 6px;
    margin:2px;
}

.pagination:hover{
    border:#3399cc solid 1px;
    background-color:#83c0ff;
    color:#fff;
}
.pagination.nav:hover{
    background:#83c0ff;
}

.pagination.selected:hover{
    background:#83c0ff; 
}
.pagination:active{
    background:#336699;
}
.pagination.nav:active{
    background:#336699;
}

.pagination_ellipsis{
    height:25px;
    width:25px;
    vertical-align:middle;
    font-size:x-small;
    font-weight: bold;
    border:#3399cc none 1px;
    border-radius:3px;
    padding:3px 6px;
}

.pagination_ellipsis:hover{
}


.inset_button{
    background: -webkit-gradient(linear, left top, left bottom, from(#333), to(#222));
	background: -moz-linear-gradient(top,  #333,  #222);	

	border-top:#111 solid 1px;
	border-right:#222 solid 1px;
	border-bottom:#555 solid 1px;
	border-left:#333 solid 1px;
    border-radius:5px;
    
    vertical-align:middle;
    text-align:center;
    font-size:small;
    font-weight: bold;
    
    padding:6px 10px 6px 10px;
    margin:2px;
    
    color:#444;
    text-shadow: 0px -1px #000, 0px 1px #222;
}

.inset_button:hover{
    background: -webkit-gradient(linear, left top, left bottom, from(#444), to(#333));
	background: -moz-linear-gradient(top,  #444,  #333);
	box-shadow:0px 0px 2px #83c0ff;
    color:#83c0ff;
	border: #83c0ff solid 1px;
	text-shadow: 0px -1px #000, 0px 1px #111;
	
    -webkit-animation-name: glow-inset;
	-webkit-animation-duration: 0.5s;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-direction: alternate;
	-webkit-animation-timing-function: ease-in-out;	
	
	-moz-animation-name: glow-inset;
	-moz-animation-duration: 0.5s;
	-moz-animation-iteration-count: 1;
	-moz-animation-direction: alternate;
	-moz-animation-timing-function: ease-in-out;
	
	-ms-animation-name: glow-inset;
	-ms-animation-duration: 0.5s;
	-ms-animation-iteration-count: 1;
	-ms-animation-direction: alternate;
	-ms-animation-timing-function: ease-in-out;		   
}

@-webkit-keyframes glow-inset {
	0% {
		-webkit-box-shadow:0px 0px 1px #83c0ff;
        background: -webkit-gradient(linear, left top, left bottom, from(#333), to(#222));
        color:#444;}
	100% {
		-webkit-box-shadow:0px 0px 3px #83c0ff;
        background: -webkit-gradient(linear, left top, left bottom, from(#444), to(#333));
        color:#83c0ff;}
}
@-moz-keyframes glow-inset {
	0% {
		-moz-box-shadow:0px 0px 1px #83c0ff;
        background: -moz-linear-gradient(top,  #333,  #222);
        color:#444;}
	100% {
		-moz-box-shadow:0px 0px 3px #83c0ff;
		background: -moz-linear-gradient(top,  #444,  #333);
		color:#83c0ff;}
}
@-ms-keyframes glow-inset {
	0% {
		box-shadow:0px 0px 1px #83c0ff;
		color:#444;}
	100% {
		box-shadow:0px 0px 3px #83c0ff;
		color:#83c0ff;}
}

.toolbar.right{
    position:absolute;
    right:10px;
    top:10px;

}
.toolbar.left{
    position:absolute;
    left:10px;
    top:10px;
 
}
.toolbar.center{
    width:300px;
    margin-left: auto;
    margin-right: auto;
    text-align:center;
    font-size:medium;
    color:#555;
    text-shadow:0px -1px #000, 0px 2px #333;
}