/* ~~~~~~~~~~ main ~~~~~~~~~~~ */

#main{
    position:relative;
    margin:0px;
    padding:0px;
	min-height:100%;
	width:100%;
	top:0;
	bottom: 0;	
}

/* ~~~~~~~~~ header ~~~~~~~~~~ */

header{
    position:relative;
    background-color:#222;
    border-bottom: 5px solid #666;
}
header h2{
    font-family: 'Pacifico', cursive;
    font-size:x-large;
    color:#555;
    padding-top:0px;
    padding-left:5px;
    display:inline-block;
}
/*
header h2 a{color:#3399cc;}
header h2 a:hover{color:#83c0ff;}
header h2 a:active{color:#336699;}
header h2 a:visited{color:#3399cc;}
*/

header h1{
/*     font-family: 'Pacifico', cursive; */
    font-family: Helvetica,sans-serif;
    font-size:small;
    color:#555;
    padding-top:0px;
    padding-left:5px;
    display:inline-block;     
}

#main-navigation {
	/* border-bottom: 5px solid #666; */
	background-color:#222;
/* 	display:inline-block; */
}
#main-navigation ul {
    overflow: hidden;
    width: 100%;
    list-style: none;
    font-size: small;		
}
#main-navigation li {
    display:inline-block;
}
#main-navigation li a {
    margin: 0 5px 0 0;
    padding: 3px 15px;
    display: block;
    color: #fff;
    text-decoration: none;
    border-top-left-radius:3px; 
    border-top-right-radius:3px; 
}
#main-navigation li.current a {
    background: #666;	
}
#main-navigation li a:hover {
    background: #555;
}
#main-navigation li:not(.current) a:hover{
    background: #111;
}

#menu{
    margin-left:10px;
    position:absolute;
    top:20px;
    right:0px;
}


/* ~~~~~~~~~ layout ~~~~~~~~~~ */

#container {
	width: 840px;
	margin: 20px auto 0px auto;
	background: #666;
	padding: 30px;
	overflow: hidden;
    
    position: relative;

    border-radius:5px;
/*  border-color: #444 #666 #777 #555; */
    border-color: #555;
    border-width: 1px;
    border-style: solid;
}
			
/* ~~~~~~~~~ article ~~~~~~~~~~ */

article {
	width: 100%;
/* 	overflow: hidden; */
}

section {
	float: left;
	width: 500px;
}

/* ~~~~~~~~~ aside ~~~~~~~~~~ */

aside {
	float: right;
	width: 310px;
	position:relative;
	text-align:justify;
	color:#aaa;
	background-color:#222;
	opacity: 0.8;
	padding:15px;
	border-radius:5px;
	z-index:10;
}
			
/* ~~~~~~~~~ footer ~~~~~~~~~~ */
			
footer {
    position:relative;
    bottom:0;	
	height:20px;
	width: 100%;
	margin: 20px auto 0px auto;
	font-size: small;
	background-color:#111;
	text-align: right;	
}

footer ul{
    padding-right:10px;
}

#php_error{
    width: 840px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    padding: 20px;
}