<IfModule mod_rewrite.c>
RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
#RewriteRule ^(.*)$ index.php?thumb=$1 [L,QSA]

RewriteCond %{REQUEST_URI} ^/images/cache/
RewriteCond %{DOCUMENT_ROOT}%{REQUEST_URI} !-f
RewriteRule ^/images/cache/(.*)$ api/image?$1 [L,QSA]

</IfModule>