#comment_module{
    width:900px;
    margin-left:auto;
    margin-right:auto;
    padding-bottom:30px;
    background-color:#555;
    border-radius:5px;
    border: #444 solid 1px;
    margin-bottom:30px;
    background: -webkit-gradient(linear, left top, left bottom, from(#444), to(#555));
    background: -moz-linear-gradient(top,  #444,  #555);
}

#comment{
    margin-top:20px;
    margin-left:-5px;
    width:420px;
    height:40px;
    background-color:#666;
    display:inline-block;    
    z-index:1;
    padding-left:10px;
    padding-right:10px;
}
#comment:not(:focus){
    border: #888 1px solid;
}

#comment_module img.avatar{
    display:inline-block;
    margin-top:20px;
    vertical-align:top;
}

#comment_module h1{
    font-family: "Pacifico";
    color:#999;
    font-size:large;
}

#comment_module .controls.dark.upper{
/*     border-top-right-radius:5px; */
/*     border-top-left-radius:5px; */
    height:auto;
    border-bottom: 1px solid #555;
    overflow:hidden;
}

#comment_module #thread{
    padding:0px 0px 30px 30px;
    -moz-border-top-colors: #333 #666 #333;
    border-top: #666 2px groove;
}

#comment_module form{
    padding:0px 30px 30px 30px;
/*     min-height:200px; */
}


#comment_module .pointer{
    margin:0;
    vertical-align:top;
    padding-top:30px;
    z-index:2;
    position:relative;
}

#post_comment{
    vertical-align:top;
    margin-top:25px;
}

.comment_bubble{
    margin-top:20px;
    margin-left:-5px;
    border-radius:5px;
    padding:10px;
    width:420px;
    min-height:20px;
    background-color:#666;
    display:inline-block;
    border: #888 1px solid;
    z-index:1;
    color:#bbb;    
}

#no_login{
    padding:0px 30px 30px 30px;
    opacity:0.7;  
}

#no_login .comment_bubble{
    margin-left:-5px;
    width:418px;
}

#no_login:hover{
    opacity:1.0;
}

#no_login.comment_bubble:hover{
    color:#83c0ff;
    border: #83c0ff 1px solid;
}
#no_login a{
    color:#333;
}
#no_login a:hover{
    color:#83c0ff;
}
#comment_module #pagination{
    display: inline-block;
    float:right;
}

#comment_header{
    display: inline-block;
}

.comment_info{
    display: inline-block;
    margin-top:20px;
    margin-left:0px;
    border-radius:5px;
    padding:10px;
    width:310px;
    min-height:20px;
    background-color:#555;
    display:inline-block;
    border: #666 1px solid;
    color:#999;
    vertical-align:top;
    position: relative;    
}
.comment_box_js .comment_bubble{
    margin-left:-1px;
    margin-right:4px;
}
#comment_module .comment_box_js .pointer{
    margin-left:4px;
}

.comment_info .webfont{
    color:#777;
}

.comment_info .data{
    display: inline-block;
}

.comment_info a .delete{
    color:#333;
    text-shadow: 0 1px #777;    
}

.comment_info a:hover .delete{
    color:#83c0ff;
    text-shadow: 0 -1px #000;
/*     text-decoration: underline; */
}
.comment_info a:hover .entypo{
    color:#83c0ff;
    text-shadow: 0 -1px #000;
}

.comment_info .entypo{
/*     color:#777; */
    color:#333;
    font-size:3em;
    vertical-align:middle;
    text-shadow: 0 1px #777;        
}

.comment_info .tools{
    display: inline-block;
    position:absolute;
    right:5px;
    top:5px;
}