/* ~~~~~~~~~~ main ~~~~~~~~~~~ */

#main{
    position:relative;
    margin:0px;
    padding:0px;
	min-height:100%;
	width:100%;
	top:0;
	bottom: 0;	
}

/* ~~~~~~~~~ header ~~~~~~~~~~ */

header{
    position:relative;
    background-color:#222;
    border-bottom: 5px solid #666;
}
header h2 {
    font-family: 'Pacifico', cursive;
    font-size:x-large;
    padding-top:0px;
    padding-left:5px;
    display:inline-block;
}

header h2 a{
    -webkit-transition-property: color; 
	-webkit-transition-duration: 0.5s; 
	-webkit-transition-timing-function: linear;

    -moz-transition-property: color;
	-moz-transition-duration: 0.5s; 
	-moz-transition-timing-function: linear;
}

/*
header h2 a{color:#3399cc;}
header h2 a:hover{color:#83c0ff;}
header h2 a:active{color:#336699;}
header h2 a:visited{color:#3399cc;}
*/

header h1{
/*     font-family: 'Pacifico', cursive; */
    font-family: Helvetica,sans-serif;
    font-size:small;
    color:#555;
    padding-top:0px;
    padding-left:5px;
    display:inline-block;     
}

#logo{
    height:40px;
    background:none;
    padding:0;
    border:none;
    box-shadow: none;
    margin:0;
    margin-left:5px;
    vertical-align:top;
    margin-right:-10px;
}

#main-navigation {
	/* border-bottom: 5px solid #666; */
	background-color:#222;
/* 	display:inline-block; */
    margin-top:-1px;
}
#main-navigation ul {
    overflow: hidden;
    width: 100%;
    list-style: none;
    font-size: small;    		
}
#main-navigation li {
    display:inline-block;
}
#main-navigation li a {
    margin: 0 5px 0 0;
    padding: 3px 15px;
    display: block;
    color: #fff;
    text-decoration: none;
    border-top-left-radius:3px; 
    border-top-right-radius:3px;

    background-position:5px 2px;

    -webkit-transition-property: color, background; 
	-webkit-transition-duration: 1s; 
	-webkit-transition-timing-function: ease-in-out, cubic-bezier;

    -moz-transition-property: color, background;
	-moz-transition-duration: 1s; 
	-moz-transition-timing-function: ease-in-out, cubic-bezier;
}
#main-navigation li.current a {
    background: #666;
}
#main-navigation li a:hover {
    background: #555;
    color:#ddd;
}
#main-navigation li:not(.current) a:hover{
    background: #000;
    color:#83c0ff;
}

#menu{
    margin-left:10px;
    position:absolute;
    top:20px;
    right:0px;
}

#subnav{
    background:#666;
    background: -webkit-gradient(linear, left top, left bottom, from(#666), to(#555));
	background: -moz-linear-gradient(top,  #666,  #555);
	border-bottom:#494949 solid 1px;
    height:25px;   
}

#subnav ul{
    width:900px;
    margin-left:auto;
    margin-right:auto;
}

#subnav li{
    display:inline-block;
    margin:0px 5px;
}

#subnav li a{
    text-shadow: 0px 1px #777;
    color:#333;
    padding:0px 5px;
    font-weight:bold;
    
    -webkit-transition-property: color, background; 
	-webkit-transition-duration: 0.5s, 0.5s; 
	-webkit-transition-timing-function: linear, linear;
    
    -moz-transition-property: color, background;
	-moz-transition-duration: 0.5s, 0.5s; 
	-moz-transition-timing-function: linear, linear;

}

#subnav li a:hover{
/*     text-shadow: 0px -1px #333, 0px 1px #888; */
    color:#83c0ff;
/*     text-shadow: 0px 1px #336699; */
    text-shadow: 0px -1px #333;
}

/* ~~~~~~~~~ layout ~~~~~~~~~~ */

#container {
	width: 840px;
	margin: 20px auto 40px auto;
	padding: 30px;
	overflow: hidden;
    
    position: relative;

    border-radius:5px;
    border:#444 1px solid;    
    background-color: #666;

    overflow:hidden;
    position:relative;
}
			
/* ~~~~~~~~~ article ~~~~~~~~~~ */

article {
	width: 100%;
/* 	overflow: hidden; */
}

section {
	float: left;
	width: 500px;
}

/* ~~~~~~~~~ aside ~~~~~~~~~~ */

aside {

}
			
/* ~~~~~~~~~ footer ~~~~~~~~~~ */
			
footer {
    position:relative;
    bottom:0;	
	height:20px;
	width: 100%;
	margin: 0px auto 0px auto;
	font-size: small;
	background-color:#111;
	text-align: right;	
}

footer ul{
    padding-right:10px;
}

#php_error{
    width: 840px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    padding: 20px;
}